<.header>
  Ship Stats
</.header>

<.table id="flown_ships" rows={@streams.flown_ships}>
  <:col :let={{_id, flown_ship}} label="Ship name">{flown_ship.ship_name}</:col>
  <:col :let={{_id, flown_ship}} label="Times Flown">{flown_ship.times_flown}</:col>
</.table>
